body {
    margin: 0;
    color: #40514E;
    background-color:rgb(183, 228, 202);
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

h1 {
/*    width: 10%;
    margin: 0 auto 0 auto;  
    margin: 0 auto;  0 is top and bottom, auto for left and right */
    font-size: 7.625rem;  /* 16px = 100% = 1em , so 90px = 90/16 * 100 */
    font-family: 'Clicker Script', cursive;
    color: rgb(58, 5, 156);
    margin-top: 10%;
    margin-bottom: 0;
}

h2 {
    font-size:3.5rem;
    font-family: 'Acme', sans-serif;
    font-weight: normal;
    color: rgb(58, 5, 156);
}

h3 {
    font-size: 2rem;
    font-family: 'Acme', sans-serif;
    color: rgba(65, 52, 185, 0.924);
}

a {
    color:  rgba(65, 52, 185, 0.924);
    font-family: 'Acme', sans-serif;
    margin: 10px 30px;
    text-decoration: none;
}

a:hover {
    color: rgb(117, 122, 122);
}

hr {
    border: 6px dotted rgb(117, 122, 122);
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

p {
    line-height: 2;
}

.top-container {
    background-color: #64d1c8;
    position: relative;
    padding-top: 8.75rem;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: rgb(195, 231, 149);
    padding: 2%;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
}

.intro {
    margin: auto;
    width: 40%;
}

.my-img {
    width:12.625rem; 
    height:13.75rem;
    border-radius:50%;
}

.web-img {
    width:15.625rem; 
    height:12.75rem;
    margin-right: 15px;
    float: left;
}

.travel-img {
    width:15.625rem; 
    height:15.75rem;
    margin-left: 15px;
    border-radius:50%;
    float: right;
}

.skills-row {
    width:50%;
    margin: 100px auto 200px auto;
}

.contact-msg {
    margin: 40px auto 60px;
    width: 40%;
}

.btn {
    background: #146648;
    background-image: -webkit-linear-gradient(top, #146648, #092e15);
    background-image: -moz-linear-gradient(top, #146648, #092e15);
    background-image: -ms-linear-gradient(top, #146648, #092e15);
    background-image: -o-linear-gradient(top, #146648, #092e15);
    background-image: linear-gradient(to bottom, #146648, #092e15);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Acme', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #64b364;
    background-image: -webkit-linear-gradient(top, #64b364, #548a5f);
    background-image: -moz-linear-gradient(top, #64b364, #548a5f);
    background-image: -ms-linear-gradient(top, #64b364, #548a5f);
    background-image: -o-linear-gradient(top, #64b364, #548a5f);
    background-image: linear-gradient(to bottom, #64b364, #548a5f);
    text-decoration: none;
  }

  .copyright {
      font-size: 0.8rem;
      color: rgb(117, 122, 122);
      margin: 20px auto 10px;
  }